body{
  width: 450px;
  background: #edf9ff;
  min-height: 200px;
  }
h3{
  display: inline-block;
  margin: 0;
  vertical-align: 8px;
  font-style: oblique;
  margin: 0;
}
.add-section{

}
.headline{
  color:#acadcc;
}
.icon-de{
  width: 16px;
  height: 16px;
  background: url('../image/de.png');
  background-size: 100%;
  background-repeat: no-repeat;
  display: none;
}
.icon-in{
  width: 16px;
  height: 16px;
  background: url('../image/in.png');
  background-size: 100%;
  background-repeat: no-repeat;
  display: none;
}
#particles-dom{
  z-index: -1;
  position: absolute;
}
.add-section input{
  width: 150px;
  border-radius: 4px;
  background: rgba(7, 197, 247,0.2)
}
.warn{
  color: red;
  display: none;
}
.addbtn{
  background: #2778e4;
  width: 70px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
.clearbtn{
  background: #fefefe;
  width: 70px;
  border-radius: 4px;
  color: black;
  cursor: pointer;
}
.pricelist{
  list-style: none;
  padding-left: 0;
}
.pricebox{
  display: flex;
  height: 30px;
  border: solid #39a1d4 1px;
  border-radius: 4px;
  align-items: center;
  margin-top: 10px;
}

.nowPrice{
  color: #1890ff;
  font-size: 14px;
  font-weight: bold;
}
.nowPrice.in{
  color: #369d36;
}
.nowPrice.de{
  color: #ee520f;
}
.delete{
  width: 16px;
  height: 16px;
  background: url('../image/close.png');
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  display: none;
}



.price-tag{
  color: black;
  padding-left: 10px;
  font-size: 14px;
  font-weight: bold;
}
.tag{
  font-size: 16px;
  color: #1890ff;
  font-weight: bold;
  margin-left: 20%;
  width: 50%;
  display: inline-block;
}

.category{
  color: #203de3;
  font-size: 14px;
  font-weight: bold;
}

.price-tag.in{
  float: right;
  color: #2ada2a;
}
.price-tag.de{
  float: right;
  color: red;
}
.author{
  color:#acadcc;
  position: fixed;
  left: 35%;
  font-size: 12px;
  bottom: 0;
  text-decoration: none;
}
